body {
    font-family: arial;
    font-size: 150%;
    background: dodgerblue;
}

.container {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 1em;
}

.large {
    font-size: 200%;
}

.text {
    padding : 0.75em;
    margin-bottom: 0.5em;
    font-size: 105%;
}

.btn {
    display: "inline-block";
    padding : 0.5em;
    margin: 0.5em;
    border-radius: 0.25em;
}

th {
    background-color: light-blue;
}

thead {
    background-color: light-blue;
}

label {
    display: inline-block;
    width: 8em;
}