

{{#partial "content" }}

<div>
    <h1>Add chocolate</h1>
    <form action="/add" method="post">
        <div>
            <label for="">Chocolate name</label>
            <input type="text" name="name" class="text" placeholder="" >
        </div>
        <div>
            <label for="">Quantity</label>
            <input type="text" name="qty" class="text" >
        </div>
        <div>
            <button class="btn" type="submit">Add</button>
        </div>
    </form>
</div>

{{/partial}}

{{> base.handlebars }}