<link rel="stylesheet" href="style.css">

<div class="container" >

    {{#block "header"}}
        <h1>Chocolates</h1>
    {{/block}}

    {{#block "content"}}
    {{/block}}
</div>

{{#block "footer" }}
<!--    <span>Powered by Handlebars.java</span>-->
{{/block}}